{% extends 'layout_new.html' %}

{% block page_title %}
Home
{% endblock %}}

{% block main %}
<div class="bg-black h-full text-white">
    {% if not posts or posts==[] %}
    <div class="h-full grid place-items-center">
        No posts made yet :(
    </div>
    {% endif %}
    <div class="h-full flex flex-col gap-4 p-4">
        {% for post in posts %}
        <!--
        // v0 by Vercel.
        // https://v0.dev/t/Jd3OFwX
        -->
        <div class="w-full max-w-xl bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden mx-auto">
            <div class="flex justify-between items-center px-6 py-4">
                <div class="flex space-x-4">
                    <div><img alt="Profile" class="rounded-full" height="48" src="{{post['profile_picture']}}"
                            width="48" style="aspect-ratio:48/48;object-fit:cover"></div>
                    <div>
                        <div class="text-lg font-bold dark:text-white">
                            {{post["username"]}}
                        </div>
                        <div class="text-sm text-gray-500 dark:text-gray-200">
                            {{post["created_at"]}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="px-6 py-4">
                <div class="text-sm text-gray-800 dark:text-gray-200">
                    {{post["content"]}}
                </div>
            </div>
            <div
                class="flex justify-between align-middle items-center space-x-4 pt-4 border-t border-gray-200 dark:border-gray-700 p-4">
                <div class="flex items-center space-x-4">
                    <!-- Placeholder. TODO -->
                    <form action="/create-post" method="post"
                        class="grid grid-cols-[1fr_auto] gap-1 w-full self-stretch">
                        <!-- <input type="text" name="content" id="content" class="col-start-1 col-span-1 form-input bg-slate-500"> -->
                        <input type="text" required
                            class="col-start-1 col-span-1 form-input bg-slate-500 placeholder:text-neutral-200 placeholder:text-sm rounded"
                            placeholder="Reply to {{post['username']}}">
                        <input type="submit" value="send"
                            class="material-symbols-rounded col-start-2 col-span-1 form-input bg-blue-500 cursor-pointer rounded">
                        <input type="hidden" name="root_id"
                            value="{{post['root_id'] if ('root_id' in post) and (post['root_id']!=None) else post['id']}}">
                        <input type="hidden" name="parent_id" value="{{post['id']}}">

                    </form>
                    <!-- {% if 'parent_id' in post and post['parent_id']!='None' %} -->
                    <!-- <a href="#{{post['parent_id']}}"> -->
                    <svg class=" h-4 w-4 text-gray-500 dark:text-gray-200" fill="none" height="24" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="17 8 12 3 7 8"></polyline>
                        <line x1="12" x2="12" y1="3" y2="15"></line>
                    </svg>
                    <!-- </a> -->
                    <!-- {% endif %} -->
                </div>
                <div class="flex items-center space-x-4">
                    <a href="post/{{post['id']}}" class="text-sm text-center">
                        <!-- <svg class=" h-4 w-4 text-gray-500 dark:text-gray-200" fill="none" height="24"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg> -->
                        <span class="material-symbols-rounded">
                            chat
                        </span>
                    </a>
                    <!-- <svg class=" h-4 w-4 text-gray-500 dark:text-gray-200" fill="none" height="24" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
                    </svg> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block foot %}
<div class="bg-neutral-900 text-white px-4 py-2 shadow">
    <form action="/create-post" method="post" class="grid grid-cols-[1fr_auto]">
        <!-- <input type="text" name="content" id="content" class="col-start-1 col-span-1 form-input bg-slate-500"> -->
        <!-- <textarea name="content" id="content" class="col-start-1 col-span-1 form-textarea bg-slate-500"></textarea> -->
        <input type="text" required
            class="col-start-1 col-span-1 form-input bg-slate-500 rounded-l placeholder:text-neutral-200 placeholder:text-sm"
            placeholder="{% if root_id or parent_id %}Reply to this post{% else %}Post something{% endif %}">
        <!-- <input type="submit" value="Post" class="col-start-2 col-span-1 form-input bg-blue-500 cursor-pointer"> -->
        <button type="submit"
            class="col-start-2 col-span-1 form-input bg-blue-500 cursor-pointer flex align-middle gap-1 rounded-r">
            Send
            <span class="material-symbols-rounded">
                send
            </span>
        </button>
        {% if root_id %}
        <input type="hidden" name="root_id" value="{{root_id}}">
        {% endif %}
        {% if parent_id %}
        {% if not root_id %}
        <input type="hidden" name="root_id" value="{{parent_id}}">
        {% endif %}
        <input type="hidden" name="parent_id" value="{{parent_id}}">
        {% endif %}
    </form>
</div>
{% endblock %}