<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block style %}

    {% endblock style %}
</head>

<body>
    <header>    
        <nav>
            {% if username == "" %}
            <span>Welcome </span>
            {% else %}
            <span>Welcome, {{ username}}</span>
            {%endif%}
        </nav>
    </header>
    <main>    
        <div >
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class = "bottom-bar">
            <p>&copy; {{ current_year }} Your App Name. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>