{% extends "layout.html"%}

{% block content %}

{%for user in data %}
    <h2>data for user {{user[0]}} are as follows</h2>
    <h3>username : {{user[1]}}</h3>
    <h3>mail Id: {{user[2]}}</h3>
    <h3>password : {{user[3]}}</h3>
    {% if user[4] %}
        <h3>profile photo</h3>
        <img src="{{ url_for('static', filename='profile_pictures/' + user[4]) }}" alt="Profile Picture" width="400" height="150">
    {% else %}
        <p>No profile picture</p>
    {% endif %}
    <br>
    <br>
{% endfor %}

{% endblock content %}
